{# experimenting with macros #}

{% macro data_attrs(data_dict) -%}
    {% autoescape false %}
    {%- for key, value in data_dict.iteritems() -%}
        {{ 'data-%(key)s=\'%(value)s\' ' % {'key': key, 'value': value} }}
    {%- endfor -%}
    {% endautoescape %}
{%- endmacro -%}

{# button, type button by default #}
{% macro button(name, label, value, order='primary', type='button', icon=None, classes=None, data=None) %}
<button type="{{ type }}" name="{{ name }}" value="{{ value }}" class="btn btn-{{ order }} {{ classes|join(' ') }}" {{ data_attrs(data) }}>
    {%- if icon -%}
        <span class="fa fa-{{ icon }}"></span>&nbsp;
    {%- endif -%}
    {{ label }}
</button>
{# extra testing info #}
<pre>data in template: 
{{ data }}
</pre>
{% endmacro %}
